  
  <h1 id="title">EAT-Da-Burger!</h1>

  <img src="https://drive.google.com/thumbnail?id=1PaMuWQDxtSUSkzOjrvHRM6jfGsGspBdO" alt="sample-burger" width="300" height="250"> 

  <div class="row">
  <h2 class="heads-left">Burgers that have not been devoured</h2>

  <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block notdevour=true}}
    {{/unless}}
  {{/each}}
  </ul>

  <h2 class="heads-right">Burgers that have been devoured!</h2>

  <ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block notdevour=false}}
    {{/if}}
  {{/each}}
  </ul>

  </div>

  <h2>Add a burger</h2>

  <form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" burger_name="burger_name" size="80">
  </div>

  <div class="form-group">
    <label for="devoured">Devour it?</label><br>
    <input type="radio" name="devoured" value="1"> Yes, devour!<br>
    <input type="radio" name="notdevour" value="0" checked> No, think of your diet!
  </div>

  <button type="submit">Add Burger</button>
</form>
