body { 
  color: blueviolet;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: thistle ;
  text-align: center;
}

#title {
  margin-top: 45px;
}

.heads-left {
  margin-top: 15px;
  float: left;
}

.heads-right {
  margin-top: 15px;
  float: right;
}

li {
  padding: 20px;
  margin: 20px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: blue;
  color: white;
  border: black;
  border-radius: 12px;
  margin: 4px 2px;
  padding: 15px 32px;
}
